!!! XML
%html
  %head
    %title= "Contacts: " + controller.action_name.capitalize
    = javascript_include_tag :all, :cache => false
    = stylesheet_link_tag 'style'
  %body
    #flash_message
      = flash_messages(:fade => 6)
    #content
      = yield